@supports (padding-bottom: env(safe-area-inset-bottom)) {
    .safe-pb {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* ==========================================
   BLOCCO SCROLL GLOBALE (EFFETTO APP NATIVA)
   ========================================== */

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Congela la pagina esterna */
    overscroll-behavior: none; /* Disattiva il rimbalzo elastico di iOS */
    touch-action: pan-x pan-y;
}

#app {
    height: 100dvh; /* dynamic viewport height */
    width: 100%;
    overflow-y: auto; /* Consente lo scorrimento solo qui dentro se necessario */
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* Rende lo scroll fluido su iOS */
    overscroll-behavior-y: contain; /* Impedisce il rimbalzo */
}

/* Nascondi la scrollbar per #app */
#app::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}
#app {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}