/* Gestione della Safe Area inferiore per i contenuti (spazio per non far coprire le cose dalla navbar) */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
    .safe-pb {
        padding-bottom: calc(85px + env(safe-area-inset-bottom));
    }
}

/* Rimuove le freccette dagli input numerici */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Rimuove l'evidenziazione blu al tocco su mobile */
* {
    -webkit-tap-highlight-color: transparent;
}

/* SCROLL NATIVO IOS: Nessun blocco "fixed" o "overflow: hidden" */
body {
    background-color: #f9fafb;
    /* overscroll-behavior disattiva il fastidioso "rimbalzo" elastico di iOS quando arrivi a fine pagina */
    overscroll-behavior-y: none; 
    margin: 0;
    padding: 0;
}

/* Nascondiamo la barra di scorrimento nativa ma manteniamo lo scroll */
::-webkit-scrollbar {
    display: none;
}